add-post{
    position: relative;
}
.add-button{
    width:50px;
    height:50px;
    font-size:30px;
    position: relative;
    background: deepskyblue;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    cursor:pointer;
    color: white;
    margin-right: 15px;
}
.add-button:hover{
    background: blue;
}
a:hover {
    text-decoration: none;
}

.button-text{
    position: absolute;
    font-size:18px;
}