{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 9; width: 100%;">
  <a style="width: 50px;" class="navbar-brand" href="{% url 'home' %}">
      <img class="img-fluid" src="{% static "img/logo.png" %}" alt="My image"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:index' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

        <div class="add-post">
            {% if request.user.is_authenticated %}
{#                <div class="button-text">Add Post</div>#}
                <a href="{% url 'post:create' %}">
                    <div class="add-button">+</div>
                </a>
            {% endif %}
        </div>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>