    {% extends 'base.html' %}

    {% block title %}Home Page - {{ block.super }}{% endblock %}
    {% block body %}

        <div class="container" style="padding-top: 80px">
            <div class="row">
                Hello {{ name }}
            </div>
        </div>

    {% endblock %}
