{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>