{% extends 'base.html' %}

{% block body %}

    <div class="container" style="padding-top: 80px;">
        <div class="col-sm">
            <div class="card" style="margin:20px 0">
              <div class="card-body">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="">
                {% endif %}
                <h4 style="margin-top: 20px" class="card-title">{{ post.title }}</h4>
                <h5>Author: {{ post.user.get_full_name }}</h5>
                <p><small>{{ post.publishing_date }}</small></p>
                <p class="card-text">{{ post.text | safe | linebreaks }}</p>
                {% if request.user.is_authenticated %}
                    <a href="{{ post.get_update_url }}" class="btn btn-sm btn-secondary">Update</a>
                    <a href="{{ post.get_delete_url }}" class="btn btn-sm  btn-danger">Delete</a>
                {% endif %}
                  <br>
                  <hr>
                <h3>Add Comment:</h3>
                {% include 'post/comments.html' %}
                  <hr>

                {% for comment in post.comment.all %}
                    <h4>{{ comment.name }} | <small>{{ comment.created_date | timesince }} evvel</small></h4>
                    <p>{{ comment.content | linebreaks }}</p>
                    <hr>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>

{% endblock %}