{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container" style="padding-top: 80px;">
        <div class="row">
            <form style="margin: 15px auto;" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="text-center">ADD POST</h1>
                {{ form|crispy }}
                {{ form.media }}
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}