{% extends 'base.html' %}
{% load static %}

{% block body %}
    {#post/{{ post.id }}#}
    {#{% url 'detail' id=post.id %}#}

    <div class="container" style="padding-top: 80px;">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm">
                    <div class="card" style="width:350px; margin:20px 0">
                      <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                          <h5>Author: <b>{{ post.user.get_full_name}}</b></h5>
                        <p><small>{{ post.publishing_date|timesince}} evvel</small></p>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="card-img-top" alt="">
                        {% endif %}
                        <p class="card-text">{{ post.text|safe|linebreaks|truncatechars:150}}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-primary">Details</a>
                        {% if request.user.is_authenticated %}
                        <a href="{{ post.get_update_url }}" class="btn btn-sm btn-secondary">Update</a>
                        <a style="color: white; cursor: pointer;" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</a>
                        {% endif %}
                      </div>
{#                       delete modal#}
                      <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">POST DELETE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Are you sure?</p>
                              </div>
                              <div class="modal-footer">
                                <a href="{{ post.get_delete_url }}" class="btn btn-sm  btn-danger">YES</a>
                                <a style="color: white; cursor: pointer" class="btn btn-sm  btn-secondary" data-dismiss="modal">NO</a>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="pagination" style="margin: 0 auto; padding: 20px 0;">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a style="margin-right: 5px;" href="?page=1">&laquo; first</a>
                        <a style="margin-right: 5px;" href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a style="margin-left: 5px;" href="?page={{ posts.next_page_number }}">next</a>
                        <a style="margin-left: 5px;" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

{% endblock %}